<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Drawing No More"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".InviteFriendActivity"></activity>
        <activity android:name=".TravelDetailsActivity" />
        <activity android:name=".PreviewDestination" />
        <activity android:name=".AddFriendActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".SetTravelActivity" />
        <activity android:name=".TravelInvitationActivity" />
        <activity android:name=".CreateOwnTravel" />
        <activity android:name=".FindPlace" />
        <activity android:name=".ChangedPasswordActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ChangeProfileActivity" />
        <activity android:name=".MyTravelActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SearchTravel" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".SignUpPanel" />
        <activity android:name=".LoginPanel" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDV2EkJozpBePZ-ugdvzCfyLYMe72-BRDk" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDV2EkJozpBePZ-ugdvzCfyLYMe72-BRDk" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaceViewerActivity" />
        <activity android:name=".ConfirmTravel" />
    </application>

</manifest>